.new-book {
    background-color: #b9b8bbe3;
    width: 45vw;
    display: grid;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15),
        0.075em 0.075em 0.15em rgba(0, 0, 0, 0.1);
}

h2.new-book__title {
    font-size: 36px;
    margin: 0 auto;
}

.new-book__form {
    padding: 3rem;
    border-radius: 4px;
    font-size: 24px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.new-book__form-item {
    margin-bottom: 25px;
    height: auto;
}

.new-book__form-item__input {
    font-size: 20px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

.new-book__form-item__genre {
    font-size: 20px;
    margin: 0 10px;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

.new-book__form-item__input:focus,
.new-book__form-item__genre:focus {
    outline: none;
}

.new-book__form-item__genre-button {
    position: relative;
    font-size: 14px;
    background: none;
    border: none;
    outline: 1px solid black;
    border-radius: 4px;
    padding: 8px 10px;
    font-family: 'Exo', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
}

.new-book__form-item__submit-button {
    position: relative;
    width: 150px;
    font-size: 20px;
    background: none;
    border: none;
    outline: 1px solid black;
    border-radius: 4px;
    padding: 12px 10px;
    font-family: 'Exo', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.new-book__form-item__cancel-button {
    position: relative;
    font-size: 14px;
    background: none;
    border: none;
    outline: 1px solid black;
    border-radius: 4px;
    padding: 8px 10px;
    font-family: 'Exo', sans-serif;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.new-book__form-item__genre-button:hover,
.new-book__form-item__submit-button:hover {
    cursor: pointer;
    background: #498c91;
    color: #ffffff;
}

.new-book__form-item__cancel-button:hover {
    cursor: pointer;
    background: #7e2c2c;
    color: #ffffff;
}

.new-book__form-item__genre-button:after,
.new-book__form-item__submit-button:after,
.new-book__form-item__cancel-button:after {
    content: '';
    background: #a9ebf7;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.new-book__form-item__genre-button:active:after,
.new-book__form-item__submit-button:active:after,
.new-book__form-item__cancel-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
