.notification {
    position: fixed;
    float: right;
    width: 500px;
    text-align: center;
    border-radius: 7px;
    padding: 1rem;
    right: 1rem;
    margin-top: 70px;
    font-size: 24px;
    font-weight: bold;
    color: #eee;
    text-shadow: 1px 1px 1px black;
    z-index: 2000;
}

@media (max-width: 1185px) {
    .notification {
        width: 500px;
        margin: 0;
    }
}
