.notification-appear {
    opacity: 0;
    transform: translateX(-100%) scale(0.6);
}

.notification-appear-done {
    opacity: 1;
    transition: all 400ms;
    transform: translateX(0) scale(1);
}

.notification-enter {
    opacity: 0;
    transform: translateX(100%) scale(0.3);
}

.notification-enter-active {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: all 400ms ease-out;
}

.notification-exit {
    opacity: 1;
    margin-right: -500px;
}

.notification-exit-active {
    opacity: 0;
    transform: translateX(100%) scale(0.3);
    transition: opacity 400ms ease-in, transform 400ms ease-in;
}
