.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-header {
    max-width: 1400px;
}

h1 {
    margin-top: 200px;
    font-size: 80px;
    color: white;
    animation: fadein;
    animation-duration: 1.5s;
    font-family: 'Exo', sans-serif;
    text-shadow: 3px 3px 3px black;
}

@keyframes fadein {
    from {
        opacity: 0;
        font-size: 120px;
    }

    to {
        width: 100%;
        font-size: 80px;
    }
}

@media (max-width: 1000px) {
    .home-header {
        max-width: 600;
        text-align: center;
    }
    h1 {
        font-size: 60px;
    }
}

@media (max-width: 500px) {
    .home-header {
        max-width: 300px;
    }
    h1 {
        font-size: 40px;
    }
}
