.navigation {
    background: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
    opacity: 1;
    height: 60px;
}
.buttons {
    display: inline;
    box-sizing: border-box;
    margin-right: 10px;
}
.buttons ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buttons ul li {
    list-style-type: none;
}

.btn {
    border: 0;
    padding: 10px;
    margin: 5px 5px 0;
    color: white;
    background: none;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: 2px 2px 2px black;
}

.btn:hover {
    color: #498c91;
}
