.container {
    display: grid;
    grid-template-columns: 15% 85%;
}

.books {
    grid-column-start: 2, 3;
    font-size: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.books_title {
    text-align: center;
    text-decoration: underline;
}

.books_table__headers {
    text-align: left;
    text-decoration: underline;
    margin: 5px;
}
.books_genres {
    margin-top: 25px;
    grid-column-start: 1, 2;
}
.books_genres > p {
    padding: 10px;
}
.books_genres__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.books_genres__button {
    position: relative;
    background-color: #12a0aa;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    width: 125px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.books_genres__button:after {
    content: '';
    background: #a9ebf7;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
.books_genres__button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
