.navigation {
    background-color: black;
    height: 60px;
    
}

.buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    margin-right: 10px;
}

.btn {
    border: 0;
    padding: 10px;
    margin: 10px;
    color: white;
    background: black;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn:hover {
    color: #498c91;
}

.notification {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
}
